Etc/
temp/

# No file format
*
!/**/
!*.*

*.exe
*.out

my_output.txt
my_input.txt

tempCodeRunnerFile.cpp

*.sh
answer.exe
answer

*.plist

.vscode/

.DS_STORE

!count.sh
!count-cpp.sh

docs/
mkdocs.yml