name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs

      - name: Generate mkdocs.yml
        run: python scripts/generate_mkdocs_yml.py

      - name: Collect README.md files
        run: python scripts/collect_readmes.py

      - name: Build and Deploy
        run: |
          mkdocs build
          mkdocs gh-deploy --force
